.leadership-image{
    margin-top: -25px;
    display: block;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px; 
    background-size: 200px;
    background-position: center;
    background-image: var(--backgroundImageUrl);
}

.leader-ship-modal-wrapper{
    padding: 1px 30px;
}

.leadership-subheading span{
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 5px;
    font-weight: 600;
    /* margin-top: -30px; */
}

.leadership-heading span{
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--orange);
}

.leadership-details{
    padding-top: 24px;
}

.leadership-report-sent{
    font-size: 2rem;
    margin: auto;
    font-weight: 600;
    line-height: 40px;
}

.leadership-result-text span{
    animation: glow-in .5s both;
}

.leadership-claim-wrapper{
    background-color: #F4F7FF;
    height: fit-content;
    padding-bottom: 10px;
}

.leadership-claim-image{
    background-image: url("https://res.cloudinary.com/vantagecircle/image/upload/v1601381705/vantagecms/uploads/2020/09/ebook-Leadership-min.png");
    display: block;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; 
    background-size: 200px;
    margin-top: 30px;
    background-position: right;
}

.leadership-report-claim-your-copy-text{
    font-size: 15px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    font-weight: 500;
}

.leadership-report-claim-your-copy-text-head{
    font-size: 25px;
}

.leadership-report-button{
    height: fit-content;
    width: fit-content;
    padding: 8px 20px;
    /* color: #2A2A4C; */
    border-radius: 4px;
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.28);
    -webkit-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.28);
    background-color: white;
    text-align: center;
}

.leadership-report-button:hover{
   transform: translateY(-2px)
}

.leadership-report-button-span{
    color: #2A2A4C;
}

.leadership-report-button-img{
    height: 220px;
    padding-right: 2px;
    width: 200px;
}

@keyframes glow-in {
    from { opacity: 0; }
    65% {
      opacity: 1;
      text-shadow: 0 0 20px orange;
    }
    75% {
      opacity: 1;
    }
    to { opacity: 0.7; }
  }

  /* large screen styles */
  @media (max-width: 768px) {
    .leader-ship-modal-wrapper{
        margin-bottom: 10px;
    }

    .leadership-report-sent{
        text-align: center;
        padding-bottom: 20px;
    }

    .leadership-claim-image{
        height: 150px;
        width: 150px;
        background-size: 100px;
        margin: 0px;
        margin-bottom: -30px;
    }
    ..leadership-report-claim-your-copy-text {
        font-size: 12px;
        text-align: center;
        padding-left: 1px;
        padding-right: 1px;
        line-height: 20px;
        /* font-weight: 500; */
    }
    .leadership-report-claim-your-copy-text-head {
        font-size: 19px;
    }
    .leadership-claim-wrapper{
        margin-bottom: 20px;
    }
  }